<td><%= holiday.created_at %></td>
<td><%= link_to in_words( holiday.state ),"#", :class => 'cluetip', :title => holiday.action_notes %></td>
<td><%= shorten holiday.description %></td>
<td><%= length_of_holiday_in_words( holiday) %></td>
<td><%= holiday.begin_time %></td>
<td><%= holiday.end_time %></td>


