<td><%= holiday.created_at %></td>
<% if holiday.state == 1 # 1 => that holiday was approved%>
	<td> approved </td> 
<% elsif holiday.state == 0 %>
	<td> pending </td>
<% elsif holiday.state == -1 %>
	<td>denied</td>
<% end %>
<td><%= holiday.description[0..24] %></td>
<td><%= length_of_holiday_in_words( holiday) %></td>
<td><%= holiday.begin_time %></td>
<td><%= holiday.end_time %></td>


