<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<% form_for([@user,@holiday], :html => {:class => 'user_form'}) do |f| %>
  <%= f.error_messages %>
	<fieldset>
	<%= f.label :action_notes, "Notes"%>
	<%= f.text_field :action_notes %>

	<%= f.label :leave_type, 'Leave Type'%>	
	<%= f.select(:leave_type, Holiday.get_holiday_types, 
						:selected => @holiday.leave_type.to_s )%>
	</fieldset>
  <%= f.submit "Update" %>
	<% end %>
	
</div><!--end center-->

