<h1>Editing holiday</h1>

<% form_for([@user,@holiday]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :approved_by %><br />
    <%= f.text_field :approved_by %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @holiday %> |
<%= link_to 'Back', holidays_path %>
