<table class="index_table">
  <tr>
	<th>User</th>
	<th>Type</th>
	<th>Date</th>
	<th>Length</th>
	<th>Status</th>
	<th>Description</th>
	<th>Reviewed By </th>
  </tr>

<% for holiday in @holidays %>
	<tr>
		<td><%= link_to "#{holiday.user.name}", holiday %></td>
		<td><%= holiday.leave_type%></td>
		<td><%= holiday.begin_time.to_s + " - " + holiday.end_time.to_s%></td>
		<td><%= holiday.get_length%></td>
		<td><%= get_state( holiday )%></td>
		<td><%= holiday.description %></td>

		<td><%= holiday.reviewed_by %></td>
	</tr>
<% end %>
</table>

<br />