<h1>New holiday</h1>

<% form_for(@holiday) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :approved_by %><br />
    <%= f.text_field :approved_by %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', holidays_path %>
