<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->

<div id="center">
	<%= error_messages_for :holiday, :message => nil, :header_message => nil %>

	<ul class="form">
	<% form_for([@user,@holiday], :html => {:class => "user_form"}) do |f| %>
		<li>
			<%= f.label :leave_type%>
			<%= f.select(:leave_type, Holiday.get_holiday_types )%>
		</li>
		<li>
	    <%= f.label 'Begin' %><br />
	    <%= f.calendar_date_select :begin_time, :time => false %>
		</li>
		
		<li> Half Day      <%= radio_button_tag :length_opt , 'half', 'checked'  %></li>
		<li> Whole Day     <%= radio_button_tag :length_opt , 'whole' %></li>
		<li> Multiple Days <%= radio_button_tag :length_opt , 'many'  %></li>
		<%= observe_field("length_opt_many",:frequency => 0.2,
											:function => "
												$('holiday_end_time').value = ''; 
												$('end_time').toggle();
											              
											             " )%>

		<li id="end_time" style='display:none'>
	    <%= f.label 'End' %><br />
	    <%= f.calendar_date_select :end_time, :time => false, :default => nil %>
		</li>
		<li>
		<%= f.label 'Description' %><br />
		<%= f.text_area :description, :size => '40x5' %>		
		</li>
		<li>
	    <%= f.submit "Submit" %>
		</li>
	</ul>
	<% end %>
	
</div><!--end center-->
