<div id="left">
</div><!--end left-->

<div id="right">	
</div><!--end right-->

<div id="center">
	<%= error_messages_for :holiday, :message => nil, :header_message => nil,
	 									:object_name => ""%>

	<% form_for [@user,@holiday] do |f| %>
		<fieldset>
		<%= f.label :leave_type, "What type of Holiday"%>
		<%= f.select(:leave_type, Holiday.get_holiday_types )%>

    <%= f.label :begin_time, "Begin Date" %>
	  <%= f.text_field :begin_time, :autocomplete => 'off' %>
		<%= f.label :leave_length, "Length"%>
		<a>half</a><%= f.radio_button  :leave_length , 'half', :checked => true %>
		<a>whole</a><%= f.radio_button  :leave_length , 'whole' %>
		<a>span</a><%= f.radio_button  :leave_length , 'many'  %>
	
		<div id="end_time" style='display:none;'>
	    <%= f.label :end_time, 'End' %>
			<%= f.text_field :end_time , :autocomplete => 'off'%>			
		</div><!--end end_time-->
	
		<%= f.label 'Description' %>
		<%= f.text_area :description, :size => '40x5' %>		
		</fieldset>
	
		<%= f.submit "Submit" %>
	<% end %>	
</div><!--end center-->