<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->

<div id="center">
	<%= error_messages_for :holiday, :message => nil, :header_message => nil,
	 									:object_name => ""%>

	<ul class="form">
	<% form_for([@user,@holiday], :html => {:class => "user_form"}) do |f| %>
	
		<li>
			<%= f.label :leave_type%>
			<%= f.select(:leave_type, Holiday.get_holiday_types )%>
		</li>
	
		<li>
	    <%= f.label 'Begin' %><br />
		<%= f.text_field :begin_time, :autocomplete => 'off' %>
		</li>
		
		<li> Half Day      <%= f.radio_button :type , 'half'  %></li>
		<li> Whole Day     <%= f.radio_button :type , 'whole' %></li>
		<li> Multiple Days <%= f.radio_button :type , 'many'  %> </li>
	
		<li id="end_time" style='display:none'>
	    <%= f.label 'End' %><br />
		<%= f.text_field :end_time , :autocomplete => 'off'%>
		</li>
	
		<li>
		<%= f.label 'Description' %><br />
		<%= f.text_area :description, :size => '40x5' %>		
		</li>
	
		<li><%= f.submit "Submit" %></li>
	</ul>
	<% end %>
	
</div><!--end center-->