<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<ul class="form">
	<% form_for([@user,@holiday], :html => {:class => "user_form"}) do |f| %>
	  <%= f.error_messages %>
		<li>
			<%= f.label :leave_type%>
			<%= f.select(:leave_type, Holiday.get_holiday_types )%>
		</li>
		<li>
	    <%= f.label 'Begin' %><br />
	    <%= f.calendar_date_select :begin_time, :time => false %>
		</li>
		<li>
		Half Day<%= check_box_tag :half_day , true %>
		<%= observe_field("half_day",:function => "$('end_time').toggle();")%>
		</li>
		<li id="end_time">
	    <%= f.label 'End' %><br />
	    <%= f.calendar_date_select :end_time, :time => false, :default => nil %>
		</li>
		<li>
		<%= f.label 'Description' %><br />
		<%= f.text_area :description, :size => '40x5' %>		
		</li>
		<li>
	    <%= f.submit "Submit" %>
		</li>
	</ul>
	<% end %>
	
</div><!--end center-->
