<% content_for :title,  "[#{@holiday.user.name}] holiday"  %>

<div id="left">
	<% if current_user.is_admin%>
		<%= link_to "#{image_tag( 'edit_holiday_button.png')}", edit_holiday_path %>
		<%= link_to "#{image_tag( 'delete_holiday_button.png')}", @holiday, :confirm => 'Are you sure?', :method => :delete %>
	<% end %>		
</div><!--end left-->
<div id="right">
	
</div><!--end left-->
<div id="center">	
    <h1><%=@holiday.user.name%></h1>
		<table>
		<tbdoy>
		  <tr>
		    <td>Status</td>
		    <td><%= in_words( @holiday.state ) %></td>
		  </tr>
		  <tr>
		    <td>Length</td>
		    <td><%= pluralize @holiday.get_length, "day" %></td>
		  </tr>
		  <tr>
		    <td>Type</td>
		    <td><%= @holiday.leave_type%></td>
		  </tr>
		  <tr>
		    <td>Description</td>
		    <td><%= @holiday.description %></td>
		  </tr>
		  <tr>
		    <td>Admin Notes</td>
		    <td><%= @holiday.action_notes %></td>
		  </tr>

		</tbody>
		</table>
		</div><!--end days_remaining-->
</div><!--end center-->


