<div id="left">
	
</div><!--end left-->
<div id="right">
	
</div><!--end left-->
<div id="center">
	<h1><%= get_state( @holiday ) %></h1>
	
	<h1><%=@holiday.user.name%> has requested 
		<%= @holiday.get_length%> days of 
		<%= @holiday.leave_type%>
	</h1>
	<p>{ <%= @holiday.description %> }</p>
			<h2><%= @holiday.user.name%> has</h2> 
			<p>
			<% 	@holiday.user.get_remaining_holiday_time.each do |key,value|%>
					<%= value || 0 %>
		  	 	 of <%= key %> remaining <br />
			<% end %>
			</p>
	<% if current_user.is_admin%>
	<%= link_to 'Edit', edit_holiday_path %></td>    
	<%= link_to 'Delete', @holiday, :confirm => 'Are you sure?', :method => :delete %></td>    
	<% end %>	
</div><!--end left-->


