<ul class="show">
<% user.holidays.each do |holiday|%>
	<% if holiday.state == 1 # 1 => that holiday was approved%>
		<li class="true">
		<p>APPROVED</p>
		by <%= holiday.reviewed_by %>
		for a <%= holiday.leave_type %> holiday
		for <%= length_of_holiday_in_words( holiday) %>
		</li>
	<% elsif holiday.state == -1 %>
		<li class="false">
		<p>DENIED</p>
		<p>
		<%= holiday.leave_type %>
		<%= distance_of_time_in_words(holiday.end_time,holiday.begin_time)%>
		</li>
	<% end %>
<% end %>
</ul>	
