<ul class="show">
<% user.holidays.each do |holiday|%>
	<% if holiday.state == 1 # 1 => that holiday was approved%>
	<li class="true">
	APPROVED
	by <%= holiday.reviewed_by %>
	for a <%= holiday.leave_type %> holiday
	for <%= distance_of_time_in_words(holiday.end_time,holiday.begin_time)%>
	</li>
	<% elsif holiday.state == -1 %>
	<li class="false">
	DENIED
	<%= holiday.leave_type %>
	<%= distance_of_time_in_words(holiday.end_time,holiday.begin_time)%>
	</li>
	<% end %>
<% end %>
</ul>	
