<div id="left">
	<%= link_to "#{ image_tag 'new_holiday_button.png'}", new_user_holiday_url(@user)%>	
	<%= link_to "#{image_tag 'delete_user_button.png'}", @user, :confirm => 'Are you sure?', :method => :delete %>
	<ul><li><%= link_to "back to users", users_url %></li></ul>
</div><!--end left-->
<div id="right">
	
</div><!--end right-->
<div id="center">
	<h1>Edit <%= @user.name%></h1>
	<h2><%= @user.email %></h2>
	<% form_for(@user, :html => {:class => "user_form"}) do |f| %>
	  <%= f.error_messages %>
		<fieldset>
		<% Holiday.get_holiday_types.each do |holiday|%>
			<%= f.label "max_#{holiday}".to_sym, "max #{holiday} days" %>
			<%= f.text_field "max_#{holiday}".to_sym, 
							:size => 2,
							:default => @user.send("max_#{holiday}".to_sym) %>
		<% end %>
		</fieldset>
    <%= f.submit "Update" %>
	<% end %>
	
</div><!--end center-->
