<h1>Edit <%= @user.name%></h1>
<% form_for(@user, :html => {:class => "user_form"}) do |f| %>
  <%= f.error_messages %>
<ul class="form">
	<% Holiday.get_holiday_types.each do |holiday|%>
		<li>
		<%= f.label holiday %>
		<%= f.text_field "max_#{holiday}".to_sym, 
						:size => 2,
						:default => @user.send("max_#{holiday}".to_sym) %>
		</li>
	<% end %>
    <li>
	
	</li>
    <li>
	    <%= f.submit "Update" %>
	</li>
</ul>
<% end %>
