<div id="left">
	<div class="navigation">
		<%= link_to "Request Holiday", new_user_holiday_url(@user)%>	
	</div><!--end -->
</div>

<div id="right">
</div><!--end right-->

<div id="center">
	<h1><%=h @user.name %></h1>
<!--#####################################-->
	<% if current_user.is_admin %>
	<h2>Requests Queue </h2>
		<%= render 	:partial => 'users/admin/pending_requests', 
					:locals => { :requests => Holiday.get_pending } %>
	<% end %>
<!--#####################################-->

	<h2>Your Pending Requests</h2>
	<ul class="show">
		<% @user.holidays.each do |holiday|%>
			<% if holiday.state.zero?%>
			<li>
			<%= distance_of_time_in_words(holiday.begin_time, holiday.end_time ) %>
			Starting on <%= holiday.begin_time%>
			</li>
			<% end %>
		<% end %>
	</ul>

	<h2> You have used </h2>
	<ul class="show">
	<% @user.get_taken_holiday_time.each do |key,value|%>
		<li><%= value %> of <%= @user.send("max_#{key}")%> days for <%= key %></li>
	<% end %>
	</ul>

	<h2>Your History</h2>
		<%= render :partial => 'holiday_history', :locals => {:user => @user}%>

</div><!--end inside_center-->
