<div id="left">
	<div class="navigation">
		<%= link_to "Request Holiday", new_user_holiday_url(@user)%>	
	</div><!--end -->
</div>

<div id="center">

	<h1><%=h @user.name %></h1>

	<div id="link_request_queue">
		<%= render 	:partial => 'users/admin/link_request_queue',
					:locals  => { :user => @user }%>
	</div><!--end pending_requests_queue-->
	<div id="link_embedded_gcal">
		<%= render :partial => 'link_embedded_gcal'%>
	</div><!--end link_embedded_gcal-->
	<h2>Your Pending Requests</h2>
	<div id="pending_requests">
		<%= render :partial => 'pending_requests', :locals => { :user => @user }%>		
	</div><!--end pending_requests-->

	<h2> You have used </h2>
	<ul class="show">
	<% @user.get_taken_holiday_time.each do |key,value|%>
		<li><%= value %> of <%= @user.send("max_#{key}")%> days for <%= key %></li>
	<% end %>
	</ul>

	<h2>Your History</h2>
	<div id="show_holiday_history">
		<table id="holiday_history_table" class='tablesorter'>
		<thead><tr>
		<th> submitted</th>
		<th> status </th>
		<th> description </th>
		<th> length </th>
		<th> begin date</th>
		<th> end date</th>
		</tr>
		<% @user.holidays.each do |holiday|%>
		</tr></thead>
		<%= render 	:partial => 'holidays/show_holiday_details',
					:locals  => { :holiday => holiday }%>
		</tr>
		<% end %>
		</table>
	</div><!--end show_holiday_history-->
</div><!--end inside_center-->

<div id="waiting_divs" style="display:none">

	<div id="admin_pending_requests" class="inside_waiting_div" style='display:none'>
		<!--#####################################-->
			<% if current_user.is_admin %>
				<%= render 	:partial => 'users/admin/pending_requests', 
							:locals => { :requests => Holiday.get_pending } %>
			<% end %>
		<!--#####################################-->	
		<div class="close">
			<%= link_to_function "close", "$('#waiting_divs,#admin_pending_requests').fade();"%>
		</div><!--end close-->

	</div><!--end pending_request_queue-->

	<div id="embedded_gcal" class="inside_waiting_div" style='display:none'>
		<%= render :partial => 'embedded_gcal'%>

		<div class="close">
			<%= link_to_function "close", "$('#waiting_divs,#embedded_gcal').fade();"%>
		</div><!--end close-->

	</div><!--end embedded_gcal-->

</div><!-- end waiting_div s-->
