<%= link_to_function "close",:class => "close" do |page|
	page[:admin_pending_requests].visual_effect :fade, 
					   							:duration => 0.2
	page.reload
	
end %>										
<% taken = Holiday.get_taken_leave %>
<% total = User.get_total_holiday_time%>
<%= taken %>
<%= total %>

<table id ="pending_requests"class="show_table">
	<caption> The following users would like some time off </caption>
	<tr>
		<th>User</th>
		<th>Type</th>
		<th>Days Requested</th>
		<th>Days Remaining</th>
		<th>Description of Leave</th>
		<th>Approve</th>
		<th>Deny</th>

	</tr>	
<% requests.each do |request| %>
	<tr>
		<td><%= link_to "#{request.user.login}", request %></td>
		<td><%= request.leave_type %></td>
		<td><%= request.get_length%></td>
		<td><%= request.user.get_remaining_holiday_time[request.leave_type.to_sym]%></td>
		<td>
		<%= request.description if request.description.length < 25 %>
		<%= request.description[0..24] + " ..." if request.description.length >= 25 %>
		</td>

		<td><%= check_box_tag "approve_#{request.id}", true %></td>
			<%= observe_field "approve_#{request.id}", 
				:url  		 => { :controller   => 'holidays',
								  :action		=> 'update',
								  :id			=> request.id },
				:method	 	=> 'put',
				:with 	 	=> 'approved'	
			%>
		<td><%= check_box_tag "deny_#{request.id}", true %></td>
			<%= observe_field "deny_#{request.id}", 
				:url  		 => { :controller   => 'holidays',
								  :action		=> 'update',
								  :id			=> request.id },
				:method	 	=> 'put',
				:with 	 	=> 'deny'	
			%>
					
	</tr>
<% end %>
</table>
<%= Gchart.pie_3d(:data => [taken,total], :format => 'image_tag')%>
