<table id ='admin_pending_requests_table' class='show_table'>
	<caption> The following users would like some time off </caption>
	<tr>
		<th>User</th>
		<th>Type</th>
		<th>Days Requested</th>
		<th>Days Remaining</th>
		<th>Description of Leave</th>
		<th>Approve</th>
		<th>Deny</th>
		<th></th>

	</tr>	
<% requests.each do |request| %>
	<tr>
		<td><%= link_to "#{ request.user.login }", request %></td>
		<td><%= request.leave_type %></td>
		<td><%= request.get_length%></td>
		<td><%= request.user.get_remaining_holiday_time[request.leave_type.to_sym]%></td>
		<td>
		<%= request.description if request.description.length < 25 %>
		<%= request.description[0..24] + " ..." if request.description.length >= 25 %>
		</td>

		<td><%= button_to_remote "approve",
		 							:url	=>	{   :controller	=>	'holidays',
													:action		=>	'update',
													:id			=>	request.id,
													:approved	=>  true },
									:method	  => 'put',
									:loading  => 	"$('##{request.id.to_s + '_button'}').appear();" %>
		</td>
		<td><%= button_to_remote "deny",
		 							:url	=>	{   :controller	=>	'holidays',
													:action		=>	'update',
													:id			=>	request.id,
													:deny		=>	true },
									:method	=>	'put' %>
		</td>
		<td id= "<%=request.id.to_s + '_button'%>" style="display:none;"  >
			<%= image_tag('spinner.gif')%>
		</td>
	</tr>
<% end %>
</table>
