<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Holidays: <%= controller.action_name %></title>
	<% get_css.each do |sheet| %>
		<%= stylesheet_link_tag sheet %>
	<% end %>
	<% get_js.each do |js|%>
		<%= javascript_include_tag js %>
	<% end%>
	
	

</head>
<div id="user_status">
	<%= render :partial => "/global/user_status"%>
</div>

<body>
	<div id="header">
		<%= link_to "#{image_tag("header.png")}", "http://www2.gs-enterprises.local/?page_id=13"%>
	</div>
	<div id="container">
		<div id="info_bar">
		<%= render :partial => "/global/navigation" %>
		<p class="warning">   <%= flash[:warning]%></p>
		<p class="info">      <%= flash[:notice] %></p>
		</div>
		<%= yield  %>
		<div class="inside_bottom">
		</div>
	</div>
	<div id="footer" style="text-align:center;">
	</div>
</body>
</html>