<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Users: <%= controller.action_name %></title>
  	<%= stylesheet_link_tag 'std' %> 
  	<%= stylesheet_link_tag 'tabels' %>
  	<%= stylesheet_link_tag 'form' %>

	<%= javascript_include_tag :defaults %>
 	<%= calendar_date_select_includes "blue"  %>

</head>
<div id="user_status">
	<%= render :partial => "/global/user_status"%>
</div>

<body>
	<div id="header">
		<%= link_to "#{image_tag("header.png")}", "http://www2.gs-enterprises.local/?page_id=13"%>
	</div>
	<div id="container">
		<div id="info_bar">
		<%= render :partial => "/global/navigation" %>
		<p class="warning">   <%= flash[:warning]%></p>
		<p class="info">      <%= flash[:notice] %></p>
		</div>
		<%= yield  %>
		<div class="inside_bottom">
		</div>
	</div>
	<div id="footer" style="text-align:center;">
	</div>
</body>
</html>
